// --------------------------
// VARIABLES
// --------------------------
$maincolor: #0a369d;
$contrastcolor: #cfdee7;

// mixins - aka presets
@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

* {
  margin: 0;
  box-sizing: border-box;
  background-color: $contrastcolor;
}

.header {
  @include white-text-black-bg;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  h1 {
    background-color: #0a369d;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
}
.main {
  @include black-text-white-bg;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.footer {
  @include black-text-white-bg;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.postImg {
  width: 200px;
}